#this-is-you
  %strong This is your profile.
  You can refer your students to #{link_to "this page ( #{url_for(:controller => 'users', :action => current_user.username, :only_path => false)} )", url_for(:controller => 'users', :action => current_user.username)}
  to record their answers and to view results.

%p
  You can also #{link_to 'add a new class or group', new_survey_group_path} to begin
  collecting responses from your students.
%p
  After you create the group, it will appear on your profile and people will be able
  to submit responses as part of that group.
