#disqus_thread
%script{ :src => "http://disqus.com/forums/quest-for-life/embed.js", :type => "text/javascript" }
%noscript
  %a{ :href => "http://quest-for-life.disqus.com/?url=ref" }
    View the discussion thread.
%a.dsq-brlink{ :href => "http://disqus.com" }
  blog comments powered by
  %span.logo-disqus
    Disqus
