-# 
  Copyright (c) 2009 Steven Hammond, Cris Necochea, Joe Lind, Jeremy Weiskotten
  
  This work is licensed under the Creative Commons Attribution 3.0 United States License.
  To view a copy of  this license, visit http://creativecommons.org/licenses/by/3.0/us/ or
  send a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.
  
- form_for Survey.new do |f|
  %p.start-survey-prompt 
    %a{ :href => '#' }
      = image_tag 'pioneer_plaque_small.jpg', :title => "Is anybody out there to find Pioneer's gold plaque?", :id => 'plaque'
      How many intelligent civilizations do
      %em you
      think there are?
      %strong Get started now.
