- form_for Survey.new do |f|
  %p.start-survey-prompt 
    %a{ :href => '#' }
      = image_tag 'pioneer_plaque_small.jpg', :title => "Is anybody out there to find Pioneer's gold plaque?", :id => 'plaque'
      How many intelligent civilizations do
      %em you
      think there are?
      %strong Get started now.
