- form_for Survey.new do |f|
  %p.start-survey-prompt 
    %a{ :href => '#' }
      Calculate how many intelligent civilizations
      %em you
      think there are in our galaxy.
      %strong Get started now.
