@import compass/utilities.sass
@import partials/_mixins.sass  
  
@font-face
  font-family: 'Mank Sans'
  src: url(/fonts/MankSans.ttf)

body
  background:
    color: #4851a6
    image: url(/images/gradient-page.png)
    repeat: repeat-x
  font-family: Verdana, Arial, sans-serif
  font-size: 10pt
  padding: 0
  margin: 0
  html[lang~=en] &
    overflow-x: hidden
  html[lang~=EN] &
    overflow-x: visible 


#page
  background:
    color: transparent
    image: url(/images/banner.png)
    position: 100% 0
    repeat: no-repeat
  /position: relative
  /margin: 0 auto
  /width: 960px
  +width_constraints

.banner
  height: 93px
  position: relative
  z-index: 1
  h1
    position: relative
    /+outline(yellow)
    +width_constraints
    a
      background:
        image: url(/images/logo.png)
        position: 0 0
        repeat: no-repeat
      color: #fff
      display: block
      width: 370px
      height: 106px
      left: 0
      position: absolute
      top: 0
      text-indent: -800em

#header
  left: 0
  top: 0
  position: relative
  z-index: 2
    
  a
    :color #fff

  #main-nav
    /margin 0 auto
    position: relative
    +width_constraints
    dl
      &.equation
        +border_radius(!main_nav_radius)
        background-color: rgba(192,192,192,.1)
        color: #ccc
        font:
          family: Georgia, Serif
          size: 30px
          style: italic
        margin-bottom: 1em
        
        dt, dd
          display: inline-block
          * html &
            display: inline
          html[lang~=en] &
            display: inline
          html[lang~=EN] &
            display: inline-block
          text-align: center
          letter-spacing: -4px
          
        span.operator
          margin: 0 .25em
          font:
            family: 'Arial Narrow', Helvetica, Sans-serif
            size: 20px
            style: normal
        
          
        a
          &.drake
            color: #ccc
            line-height: 2.0
            text-decoration: none
            span
              &.function
                display: inline-block
                letter-spacing: -.2em
                min-height: 50px
                min-width: 30px
                padding: 0 .5em
                text-shadow: 0 0 2px #000
                sub
                  position: relative
                  top: -.25em
                sup
                  left: .2em
                  position: relative
                  top: .25em
            &:hover
              span.function
                color: #fff
                background-color: #777
                background-color: rgba(0,0,0, .5)
                
            &.yah
              span.function
                color: #fff
                background-color: #777
                background-color: rgba(255, 255, 255, .2)

@media all and (-webkit-min-device-pixel-ratio:0)
  +drake_sub_fix

#footer
  margin: 30px 0
  text-align: center
  font-size: 11px
  font-family: arial, sans-serif
  color: #171a35
  .menu
    font-size: 120%
  a
    color: #141830
    font-weight: bold
    text-decoration: none

blockquote.signage
  /float: right
  margin-left: 1em
  /position: relative
  top: -170px
  z-index: 99
  p
    width: 108px
    a
      &:hover
        text-decoration: none
    &.iya
      a
        background:
          image: url(/images/iya_logo_small.png)
          position: 0 0
          repeat: no-repeat
        display: block
        height: 204px
        text-indent: -800em
        width: 108px
        -moz-box-shadow: 2px 2px 8px #000
    &.rumble
      display: none
      font-size: 12px
      text-align: center
      
      img
        display: block
        height: 108px
        margin-bottom: .5em
        width: 108px
      a
        color: #000
    
    &.twitter
      a
        +rounded_button("/images/alpha_gradient.png", "#9AE4E8", "89px", "70%", "#333", "0 6px", "2px 2px 8px #000")

#content

  #sidebar
    margin-left: 20px
    position: absolute
    right: 0
    top: 0
    
  color: #fff
  +clearfix
  font-family: 'Mank Sans', Helvetica, 'Arial Narrow', Arial, Verdana, Georgia, 'Times New Roman', Serif
  position: relative
  +width_constraints
  margin: 0 auto 0 auto
  text-align: left
  
  /-moz-column-gap: 1em
  /-moz-column-width: 380px
  /-webkit-column-gap: 1em
  /-webkit-column-width: 380px
  
  #main  
    position: relative
    width: 760px
    
    h2
      font-weight: bold
      font-size: 140%

    h3
      +clearfix
      margin: 0 0 1em 0
      font-size: 110%

    em
      font-style: italic

    #disqus_thread #dsq-content h3
      font-size: 100%      

    dl, p, ul
      text-shadow: 1px 1px 2px #000

    dd
      ul, li, p
        :margin-left 1em
    
    a
      color: #3ac1ff
      &:hover
        text-decoration: underline
        
    a[target~='_blank']:after
      content: ' (external link)'
      color: #ccc
      font:
        size: 90%
        weight: normal

    p.start-survey-prompt
      +rounded_button("/images/gradient-green.png", "#5c992e", "520px", "140%", "#3C791E")
      
    #form
      +border_radius(.5em)
      +pie-clearfix
      padding: 1em
      background: #a2cb52 url(/images/gradient-green2.png) repeat-x
      border: 1px solid #5c992e
      
      p
        color: #222
        text-shadow: 0 1px 1px #9c9
        font-family: Helvetica, 'Mank Sans', sans-serif
        font-size: 100%
        font-weight: bold
        

      .humanized-value
        :float right
        :margin 1.25em 1em 0 0
        :color #222
        :text-shadow 0 1px 1px #9c9
        :font-family Helvetica, 'Mank Sans', sans-serif
        :font-weight bold
        
      fieldset
        li
          :margin-bottom .5em
        &.buttons
          :float right
          li
            :margin-bottom 0
        
      label
        :font-size 90%
        :color #222
        :text-shadow 0 1px 1px #9c9
        :font-weight bold
        :font-family Helvetica, 'Mank Sans', sans-serif
      input[type=text], select
        :font-size 100%
        :border 2px solid #5c992e
        :padding .25em
        
      

    input[type=submit]
      margin-top: 1em
      font-size: 90%
      font-family: Helvetica, 'Mank Sans', sans-serif
      font-weight: bold
      padding: 4px 8px 2px 8px
      background: #5c992e url(/images/gradient-green-button.png) repeat-x
      border: 1px solid #3C791E
      color: #222
      text-shadow: 0 1px 1px #e5e573
      +border_radius(.5em)
      &:hover
        color: #000
        border-color: #000
        

    #comments
      +border_radius(.5em)
      background-color: #313771
      padding: 1em
      margin-top: 2em
      border: 1px solid #20244a
      dl, p, ul
        text-shadow: none
        
  p
    margin: 0 0 1em 0
  
  a
    /color: #3ac1ff
    font-weight: bold
    text-decoration: none
    &:hover
      /text-decoration: underline
          
#parameter-symbol
  font:
    size: 60px
    family: Georgia, Serif
    style: italic
  / float: right
  margin-left: .25em
  position: absolute
  right: 0
  top: 0em
  color: #999
  text-shadow: 0 0 12px #000
  background: rgba(0,0,0,.2)
  padding: 0 .1em 0 .4em
  +border_radius(.25em) 
  z-index: 10
  
  sup
    position: relative
    top: .25em
    left: -.4em
  sub
    position: relative
    top: -.25em
    left: -.5em

dl.form dd
  margin-left: 0


label[for]:hover
  text-decoration: underline


input#openid_url
  background: url(/images/openid.gif) no-repeat
  background-color: #fff
  background-position: 0 50%
  color: #000
  padding-left: 18px
  
  

fieldset
  :border-width 0
  :padding 0
  ol
    :list-style-type none
    :padding-left 0
    label
      :display block
      
dt.bullet
  margin-left: 1em
  font-weight: bold
  display: list-item
  list-style-type: square
dd.detail
  display: none
  
.illustration
  float: right
  margin-top: 2.0em
  margin-left: 1em
  width: 220px
  
  .caption
    :font-size 10px
    :font-family Arial, Helvetica, sans-serif
    :display block
    :line-height 1.1
    :margin-top 3px
    :text-align right
  
  img
    display: block

.bullets
  +clearfix

#plaque
  float: right
  margin-left: 1em
  position: relative
  right: -0.5em
  top: -0.37em

  
  / +border_radius(.25em)