- title 'About the Quest for Life'

%h3 An Important Question
%p "Are we alone?" This may be one of the most important questions of the 21st century. The answer, yes or no, should have profound impacts on the way we see our world and ourselves. If we are alone, then life is supremely scarce and we alone are capable of perceiving the wonders of the Universe, of asking questions and finding answers.
%p On the other hand, if we are not alone the Milk Way becomes a different place. There are opportunities to share and learn that we have only imagined.

%h3 The Drake Equation
%p 