- title 'Crowdsourcing the Drake Equation'

:textile
  In 1960 Dr. Frank Drake created a formula to estimate the number of intelligent civilizations in our galaxy. Rather than giving a definitive answer, the Drake Equation provides a framework for exploring what may be the most important scientific question of the 21st century.

  This application will teach enough astronomy, geology, and biology to help people understand each parameter of the Drake Equation. They can enter their estimates for each value and calculate their own number of civilizations, then compare their ideas with those of other participants, contextualized by different demographic data.

  Enhanced features will include teacher functionality to compare answers among students in a classroom, Twitter integration to share your estimate with your tweeps, and a blog to keep up with late-breaking news in the field.

