- title 'Are We Alone?'

%p In 1960 Dr. Frank Drake created a formula to estimate the number of intelligent civilizations in our galaxy. Rather than giving a definitive answer, the Drake Equation provides a framework for exploring what may be the most important scientific question of the 21st century.

= partial 'shared/survey_prompt'

#participate
  %h2 Participate
  :textile
    This site is your opportunity to understand the scientific underpinnings of the search for life in our galaxy. You can spend 10 minutes, or a couple hours here, exploring. As you think about each parameter of the equation you'll be building your own answer to the question "How many civilizations are out there trying to communicate with us?" Then you can see your answers compared with other people from around the world.
      
#teachers      
  %h2 Teachers
  :textile
    We've built some special functionality that allows you to have entire classes think about this question and see their answers compared with the entire class. This will drive class discussion over the individual parameters, the answers and what those answers might mean to humanity.
  %p
    = link_to 'Teachers, get started now&hellip;', new_session_path