-# 
  Copyright (c) 2009 Steven Hammond, Cris Necochea, Joe Lind, Jeremy Weiskotten
  
  This work is licensed under the Creative Commons Attribution 3.0 United States License.
  To view a copy of  this license, visit http://creativecommons.org/licenses/by/3.0/us/ or
  send a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.
  
- title 'Are We Alone?'

%p In 1960 Dr. Frank Drake created a formula to estimate the number of intelligent civilizations in our galaxy. Rather than giving a definitive answer, the Drake Equation provides a framework for exploring what may be the most important scientific question of the 21st century.

= partial 'shared/survey_prompt'

#participate
  %h2 Participate
  :textile
    This site is your opportunity to understand the scientific underpinnings of the search for life in our galaxy. 
    
    Explore our content for 10 minutes &mdash; or a few hours. As you think about each parameter of the equation you'll be building your own answer to the question "How many civilizations are out there trying to communicate with us?" Then see how your answers compare with other people from around the world.
      
#teachers      
  %h2 Teachers
  :textile
    Invite your students to think about this question and see their answers compared with the entire class.
    
    This can help drive class discussion over each individual parameters, the answers, and what those answers might mean to humanity.
  %p
    = link_to 'Teachers, login or register to use this in your classroom&hellip;', new_session_path