- title 'Congratulations!'
  
  
%h3 Things you should do now:
%ul
  %li 
    Get a 
    = link_to 'Hoptoad', 'http://hoptoadapp.com' 
    key and update config/initializers/hoptoad.rb
  %li 
    Update config/initializers/session_store.rb with a new session key. 
    You can generate one with
    %code rake secret
  %li 
    Configure your application's name and other settings in config/application.yml
  %li 
    Set the 
    %code HOST 
    and 
    %code DO_NOT_REPLY 
    constants in config/environments/production.rb
  
%h3 Recommended but optional: 
%ul
  %li Set up your Capistrano script in config/deploy.rb
  %li 
    %code rake gems:unpack
  %li 
    %code rake rails:freeze:gems