-# 
  Copyright (c) 2009 Steven Hammond, Cris Necochea, Joe Lind, Jeremy Weiskotten
  
  This work is licensed under the Creative Commons Attribution 3.0 United States License.
  To view a copy of  this license, visit http://creativecommons.org/licenses/by/3.0/us/ or
  send a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.

-title 'Legal Information'
%br
%p{:style => 'text-align:center;'}
  :erb
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>

%p
  :erb
    <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">Quest for Life</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://quest-for-life.org/home/credits" property="cc:attributionName" rel="cc:attributionURL">Steven Hammond &amp; friends</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported License</a>.<br />

%p If you are interested in using this material in a manner that is incompatible with this license, please send an e-mail to <a href="mailto://support@quest-for-life.org">support@quest-for-life.org</a>.
  
%h3 Source Code

%p This website was developed in <a href="http://www.rubyonrails.org">Ruby on Rails</a> and has been released as open source. The ruby code in the application is available under an MIT license. All HTML, HAML, SASS and text file content are available under the Creative Commons license show above. See the License document and the individial files in the <a href="http://github.com"> source repository</a> for details.

%p If you don't know what any of this means, it probably doesn't matter to you.

