- semantic_form_for current_object do |form|
  - form.inputs do
    = form.input :age_group, :label_method => :description, :as => :radio
    = form.input :group_name

  - form.buttons do
    = form.commit_button 'save'
