#form
  %p What&#8217;s your estimate?
  
  - semantic_form_for current_object do |form|
    - form.inputs(:class => 'parameter') do
      = form.input parameter.to_s + '_rational_id', :collection => Survey.options_for(parameter), :include_blank => false, :as => :select, :value_method => :id, :label_method => :quotient_label
    - form.buttons do
      = form.commit_button 'Next'
    .humanized-value

:javascript
  $(function(){
    $('#form select').each(function(i,o){
      $(o).change(function(){
        $('.humanized-value').text($(o).children(':selected')[0].text);
      });
      $(o).triggerHandler('change');
      $(o).selectToUISlider({
        tooltip: 0,
        labels: 0
      })});
  });
