%style{:type => 'text/css'}
  :sass
    select
      :display none
    #form
      :margin-top 2em
      
#form
  - semantic_form_for current_object do |form|
    - form.inputs do
      = form.input parameter, :collection => RationalOption.all, :include_blank => false, :as => :select, :label_method => :quotient_label, :value_method => :quotient, :hint => 'a hint'
    - form.buttons do
      = form.commit_button 'Next'

:javascript
  $(function(){
    $('#form select').each(function(i,o){
      $(o).selectToUISlider({labels: 0})});
  });
