#form
  %p
    = Survey.question_for_parameter(parameter)
    %em Your estimate:
  
  - semantic_form_for current_object do |form|
    - form.inputs(:class => 'parameter') do
      = parameter_input form, parameter
    - form.buttons do
      = form.commit_button 'Next'
    .humanized-value

:javascript
  $(function(){
    $('#form select').each(function(i,o){
      $(o).change(function(){
        $('.humanized-value').text($(o).children(':selected')[0].text);
      });
      $(o).triggerHandler('change');
      $(o).selectToUISlider({
        tooltip: 1,
        labels: 0
      })});
  });
