-# 
  Copyright (c) 2009 Steven Hammond, Cris Necochea, Joe Lind, Jeremy Weiskotten
  
  This work is licensed under the Creative Commons Attribution 3.0 United States License.
  To view a copy of  this license, visit http://creativecommons.org/licenses/by/3.0/us/ or
  send a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.
  
#form
  %p
    = Survey.question_for_parameter(parameter)
    %em Your estimate:
  
  - semantic_form_for current_object do |form|
    - form.inputs(:class => 'parameter') do
      = parameter_input form, parameter
    - form.buttons do
      = form.commit_button 'Next'
    .humanized-value

:javascript
  $(function(){
    $('#form select').each(function(i,o){
      $(o).change(function(){
        $('.humanized-value').text($(o).children(':selected')[0].text);
      });
      $(o).triggerHandler('change');
      $(o).selectToUISlider({
        tooltip: 1,
        labels: 0
      })});
  });
