- title @parameter.humanize, "<div style=\"font-size:400%;float: left; margin-right:0.5em;\">#{parameter_to_drake_component}</div>"
= partial @parameter

= partial 'parameter_form', :parameter => @parameter

= partial '/shared/disqus'
