%style{ :type => "text/css" }
  :sass
    dt.bullet
      margin-left: 1em
      font-weight: bold
      display: list-item
      list-style-type: square
      cursor: pointer
    dd.detail
      display: none
      ul
        margin-left: 1em

:javascript
  $(function(){
    $('dt.bullet a').click(function(e){
      $(this).parent().next().slideToggle();
    });
  })

= partial @parameter
= partial 'parameter_form', :parameter => @parameter

#comments
  %h3 Discussion
  = partial '/shared/disqus'
