:javascript
  $(function(){
    $('dt.bullet a').click(function(e){
      $(this).parent().next().slideToggle();
    });
  })

= partial @parameter
= partial 'parameter_form', :parameter => @parameter

#comments
  %h3 Discussion
  = partial '/shared/disqus'
