- title 'The Drake Equation'

%p
  Let's get started!

- semantic_form_for [parent_object, current_object].compact do |form|
      
  - form.buttons do
    = form.commit_button 'Start the Drake Equation'
