-# 
  Copyright (c) 2009 Steven Hammond, Cris Necochea, Joe Lind, Jeremy Weiskotten
  
  This work is licensed under the Creative Commons Attribution 3.0 United States License.
  To view a copy of  this license, visit http://creativecommons.org/licenses/by/3.0/us/ or
  send a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.
  
- title 'Age Groups'

= link_to 'Add an age group', new_age_group_path

%ol
  - for age_group in current_objects
    %li
      = age_group.description
      = link_to 'Delete', age_group, :method => :delete, :confirm => 'Are you sure?'
